name: Release (GitHub/PyPI) and Deploy Docs

on:
  workflow_dispatch:
  push:
    tags:
      - "*" # Trigger on all tags initially, but tag and release privilege are verified in _build-wheel-release-upload.yml

permissions:
  contents: write

jobs:
  build-release:
    uses: scikit-package/release-scripts/.github/workflows/_build-release-github-no-pypi.yml@v0
    with:
      project: scikit-package-manuscript
      c_extension: false
      maintainer_github_username: sbillinge
    secrets:
      PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}
      PAT_TOKEN: ${{ secrets.PAT_TOKEN }}
    permissions:
      contents: read
